name: .NET CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore Cliente
        run: dotnet restore Cliente/Cliente/Cliente.csproj

      - name: Restore Tests
        run: dotnet restore Cliente/Tests/Tests.csproj

      - name: Build Cliente
        run: dotnet build Cliente/Cliente/Cliente.csproj --configuration Release --no-restore

      - name: Build Tests
        run: dotnet build Cliente/Tests/Tests.csproj --configuration Release --no-restore

      - name: Run tests
        run: dotnet test Cliente/Tests/Tests.csproj --configuration Release --no-build --verbosity normal
